@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print { display: none !important; }
  [data-testid="comments-list"] { display: none !important; }
  header { display: none !important; }
  footer { display: none !important; }
}